<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon" />
    </head>
    <body>
        <h1>
            Générateur d'attestation dérogatoire
        </h1>
        <form action="attestation" method="post" accept-charset="utf-8">
            <table id="table_form">
                {% for cle, valeur in champs.items() %}
                    {% if cle != 'jour' %}
                        <tr>
                            <td>
                                <label>{{ valeur }}</label>
                            </td>
                            <td>
                                <input type="text" value="" name="{{ cle }}" id="{{ cle }}"/>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <div id="checkbox">
                {% for cle, valeur in boutons.items() %}
                <div>
                    <input type="checkbox" value="{{ cle }}" name="motif"
                        {% if cle == "travail" %}
                            checked
                        {% endif %}
                    />
                    <label for="{{ cle }}">{{ valeur }}</label>
                </div>
                {% endfor %}
            </div>
            <div id="bouton_submit">
                <input type="submit" value="Générer" id="big_button">
            </div>
        </form>
    </body>
</html>
